<h1>Quick Control</h1>

<ion-row size="12">

  <ion-col size="4">
    <ion-button id="autoDrive" [ngStyle]="{'background': buttonAutoDriveSelected ? 'rgb(0, 110, 255)' : 'none' }"
      (click)="isAutoDriveSelected()">

      <div class="img-button">
        <img src="../../assets/volante.png" />
      </div>

      <p id="autoDriveTitle" [ngStyle]="{'color': buttonAutoDriveSelected ? 'black' : ' rgb(145, 145, 145)' }">
        Auto Drive
      </p>

      <span id="autoDriveValue" [ngStyle]="{'color': buttonAutoDriveSelected ? 'black' : ' rgb(145, 145, 145)' }">
        {{textButton}}
      </span>

    </ion-button>
  </ion-col>


  <ion-col size="4">
    <ion-button id="autoParking" [ngStyle]="{'background': buttonAutoParkingSelected ? 'rgb(0, 110, 255)' : 'none' }" name="Parking" (click)="isAutoParkingSelected()">

      <div class="img-button">
        <img src="../../assets/parking.png" />
      </div>

      <p id="autoParkingTitle" [ngStyle]="{'color': buttonAutoParkingSelected ? 'black' : ' rgb(145, 145, 145)' }">
        Auto Parking
      </p>

      <span id="autoParkingValue" [ngStyle]="{'color': buttonAutoParkingSelected ? 'black' : ' rgb(145, 145, 145)' }">
      {{textButton}}
      </span>
    </ion-button>
  </ion-col>

  <ion-col size="4">
    <ion-button id="pickMe" [ngStyle]="{'background': buttonAirSelected ? 'rgb(0, 110, 255)' : 'none' }" (click)="isAirSelected()">
      <ion-icon name="snow-outline"></ion-icon>

      <p id="AirTitle" [ngStyle]="{'color': buttonAirSelected ? 'black' : ' rgb(145, 145, 145)' }">
        Air
      </p>
      <span id="airValue" [ngStyle]="{'color': buttonAirSelected ? 'black' : ' rgb(145, 145, 145)' }">{{textButton}}</span>
    </ion-button>
  </ion-col>
</ion-row>