<h1>Quick Control</h1>

<ion-row>
  <ion-col size="4">
    <ion-button>
      <img src="../../assets/volante.png"/>
      <p>
        Auto Drive
      </p>
    </ion-button>
  </ion-col>

  <ion-col size="4">
    <ion-button  name="Parking">
      <img src="../../assets/parking.png"/>
      <p>
        Auto Parking
      </p>
    </ion-button>
  </ion-col>

  <ion-col size="4">
    <ion-button>
      <img src="../../assets/parking.png"/>
      <p>
        Pick Me
      </p>
    </ion-button>
  </ion-col>
</ion-row>