ion-content {

  --background: url('../../assets/Mercedes-AMG-GT-750x1334.jpg') no-repeat center center / cover;
  position: fixed;
    /*.background-car {
      position: fixed;
    }

    */
  

    
    form {
      margin-top: 30%;
      //background: rgba(150, 145, 145, 0.432);
     
      ion-card {
        background: none;
        box-shadow: none;
        width: 90px;
        margin-left: 40%;
  
        img {
          height: 40px;
          width: 40px;
          margin-top: 8px;
          margin-left: 10px;
          display: flex
          //background-color: black;
          //position: relative;
        }
  
        
      }

     
    .border-error {
      border: 2px solid rgb(255, 73, 6);
      color: rgb(255, 73, 6) ;
    }

    .error-message {
      display: flex;
      font-weight: 500;
      font-size: 12px;
      color: rgb(255, 73, 6);
      margin-left: 50px;

      span {
        margin-left: 2px;
      }
    }
    
      ion-item {
        
        --background: rgba(31, 31, 31, 0.315);
        margin-left: 40px;
        margin-bottom: 4px;
        //border: 1px solid black;
        // border-radius: 20px;
        --highlight-height: 0px;
        width: 70%;
  
        ion-icon {
          color: white;
          display: flex;
          margin: 3px;
        }
  
        ion-input {
          color: white;
        }
  
      }
    
  
      ion-button {
        font-weight: 600;
        --background: rgba(0, 0, 0, 0.678);
        width: 70%;
        margin-left: 40px;
      }
    }
  }
  