<ion-header class="ion-no-border">
  <ion-toolbar no-border-bottom>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="backPage()">
        <ion-icon slot="icon-only" name="chevron-back-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-buttons  *ngIf="isPage == 'ProfilePage' " slot="end">
      <ion-button color="medium" (click)="exit()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    

  </ion-toolbar>
</ion-header>