<ion-list>

  <ion-item>
    <ion-icon name="person-outline"></ion-icon>
    <ion-label>Perfil</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="pageProfile()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-icon name="car-sport-outline"></ion-icon>
    <ion-label>Car Information</ion-label>
    <ion-buttons slot="end">
      <ion-button (click)="pageInformationCar()">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-item>

  <ion-item>
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-label>Notification</ion-label>
    <ion-toggle color="primary"></ion-toggle>
  </ion-item>
  
</ion-list>