<ion-content>

  <div class="background-car">
    <img src="../../assets/mercedes-benz-g-63-white-81-1440x2560.jpg">
  </div>

  <ion-card>
    <ion-card-title>Sign In</ion-card-title>
    <form>

      <ion-item id="input-control">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="email" required placeholder="Seu nome"></ion-input>
      </ion-item>

      <ion-item id="input-control">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" required placeholder="Informe o email"></ion-input>
      </ion-item>

      <ion-item id="input-control">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" required placeholder="Informe sua senha"></ion-input>
      </ion-item>

      <ion-item id="input-control">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" required placeholder="Confirme sua senha"></ion-input>
      </ion-item>

      <ion-button color="light">Criar Conta</ion-button>
      <ion-button color="light" shape="outline" (click)="backPage()">Voltar</ion-button>

    </form>
  </ion-card>
</ion-content>