<header [isPage]="isPage"></header>
<ion-content>
  <img src="../../assets/logowhite.png" >

  <ion-card>
    <ion-card-header>
      <ion-card-title>Crie sua conta, Grátis!</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input type="text" placeholder="Seu nome"></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-input type="text" placeholder="Informe seu Email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Digite a Senha"></ion-input>
      </ion-item>


    </ion-card-content>
    <ion-checkbox class="d-inline"></ion-checkbox>
    <p class="d-inline">Li e concordo com os <a>Termo e Uso</a></p>
        
  </ion-card>
</ion-content>
