<div class="border-status">


<ion-grid>
  <ion-row size="12">

    <ion-col class="ml-4" size="4">
      <div class="container fuel">
        <img class="icon-fuel " src="../../assets/gaspump.svg">
        <span>Fuel</span>
      </div>
      <p>{{fuel}}</p>

    </ion-col>

    <ion-col size="3">
      <div class="container">
        <ion-icon name="navigate"></ion-icon>
        <span>Range</span>
      </div>
      <p>{{range}}</p>
    </ion-col>

    <ion-col size="5">
      <div class="container">
        <ion-icon name="thermometer"></ion-icon>
        <span>Temperature</span>
      </div>
      <p>{{temperature}}</p>

    </ion-col>

  </ion-row>
</ion-grid>
</div>