<h3>Information</h3>

<ion-list>
  <ion-item>
    <ion-label class="d-inline">Brand</ion-label>
    <p class="d-inline text-distance col-6">{{brand}}</p>
  </ion-item>

  <ion-item>
    <ion-label class="d-inline">Model</ion-label>
    <p class="d-inline text-distance col-6">{{model}}</p>
  </ion-item>

  <ion-item>
    <ion-label class="d-inline">Color</ion-label>
    <p class="d-inline text-distance col-6">{{color}}</p>
  </ion-item>

  <ion-item>
    <ion-label class="d-inline">Version</ion-label>
    <p class="d-inline text-distance col-6">{{version}}</p>
  </ion-item>

</ion-list>