<header></header>


<ion-content>
    <h1>Profile</h1>

    <ion-avatar>
        <img src="../../assets/fotoEY.jpeg">
    </ion-avatar>
     <h3>{{userName}}</h3>

     <ion-list>
        <ion-item>
          <ion-label class="d-inline">Your name</ion-label>
          <p class="d-inline text-distance col-6">{{userName}}</p>
        </ion-item>

        <ion-item>
            <ion-label>E-mail</ion-label>
            <p class="d-inline text-distance col-6">{{email}}</p>
          </ion-item>

          <ion-item>
            <ion-label>Address </ion-label>
            <p class="d-inline text-distance col-6">{{address}}</p>
          </ion-item>

          <ion-item>
            <ion-label>Phone number</ion-label>
            <p class="d-inline text-distance col-6">{{phoneNumber}}</p>
          </ion-item>

          <ion-item>
            <ion-label>License driving number</ion-label>
            <p class="d-inline text-distance col-6">{{licenseDriving}}</p>
          </ion-item>

          <ion-item>
            <ion-label>Password</ion-label>
            <p class="d-inline text-distance col-6" type="password">{{password}}</p>
          </ion-item>
     </ion-list>
</ion-content>