<ion-content>

  <ion-grid>

    <!--slide-car></slide-car-->

    <ion-row size="3">

      <h1>{{carName}}</h1>
    </ion-row>



    <ion-row size="3">
      <div class="background">
        <div class="img-car">
          <img id="img1" src="../../assets/slide-car1.webp">
        </div>
      </div>

    </ion-row>

    <ion-row>

      <ion-col size="12">
        <status></status>
      </ion-col>
    </ion-row>

    <ion-row size="4">

      <quick-control id="quickControl"></quick-control>

    </ion-row>
  </ion-grid>

</ion-content>