ion-content {
    --background: rgba(121, 117, 117, 0.959);
    --background: radial-gradient(circle, rgb(100, 99, 99) 0%, rgba(0, 0, 0, 0.986) 55%);
    --align-items: center;
    font-family: special;
    --color: grey;

    

    h1 {
        color: rgb(196, 191, 191);
        position: fixed;
        margin-left: 10px;
    }

   
        
        
    
}
